build
parser.out
parsetab.py
cscope.files
cscope.out
*.pyc
*~
.*.swp
m5out
/src/doxygen
/ext/dramsim2/DRAMSim2
/ext/mcpat/regression/*/*.out
/util/m5/*.o
/util/m5/*.a
/util/m5/m5
a.out
test
*.csv
*.dat
matmul_out.txt
float_reg_fault.txt
reg_fault.log
float_reg_fault.log
bus_trace.sh
configs/**/*.bak
fault*.txt
reg_fault*.txt
tests/test-progs/bbw_stat/
bbw-fault*.py
toy_fault_generator.py
btb_extractor_2.py
fault_generator_2.py
fault_generator_3.py
tests/test-progs/bbw_stat_copy1/
